* {
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

header {
    background-color: #141414;
    color: white;
    text-align: center;
    font-size: 25px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: flex-end;
   
    
}

.item-header {
  padding: 10px 0px 5px 0px;
}


.mainlogo img {
   width: 200px;
}


#barrademenu ul {
    list-style: none;
}

#barrademenu ul li {
    display: inline;
}

#barrademenu a {
    color: white;
    text-decoration: none;
    padding-left: 25px;
}


/* Header hasta acá------------- */




.imagenprincipal img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#eventos {
    background-color:white;
    font-size: 20px;
    text-align: center;
    color: #141414;
    padding-top: 50px;
}

#eventos h1 {
    font-size: 40px;
}


.caja-eventos {
    padding: 70px 50px;
    display: grid;    
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
    justify-content:center;
    text-align: center;
}


.item-cajaeventos {
 
    height: 425px;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 0.2rem 0.4rem #141414;

 
}



.item-cajaeventos h2 {
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: normal;
}

.item-cajaeventos img {
    width: 350px;
    height: auto;
    border-radius: 8px;
}

.historias {
    padding: 30px 150px 90px 150px;
    background-color:white;
    color: #141414;
    text-align: center;
    font-size: 20px;
}

.historias h2 {
    font-size: 40px;
    padding-bottom: 35px;
}

/* FOOTER */

#footer {
    padding: 20px;
    background-color: #1a1b1c;
    color: whitesmoke; 
    font-size: 15px;
}

.caja-redes {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    
    color: whitesmoke;
    text-align: center;
    gap: 20px;
}

.item-cajaredes {
    width: 600px;
}

.redes {
    padding-top: 80px;
}
.redes ul {
    list-style: none;
}
.redes ul li {
    display: inline-block;
}

.redes a {
    color: white;
    text-decoration: none;
    padding: 20px;

}


.info {
   display: grid;
   grid-template-rows: 1fr 1fr;
   justify-content: center;
}

.item-info {
    width: 300px;
}

.info img {
    width: 150px;
    padding-bottom: 15px;
}

.info ul {
    list-style: none;
}

#redes ul li {
    display: inline-block;
}



/* Responsive */

/* MOBILE */

@media (max-width:576px) {

    header {
        font-size: 20px;
        display: grid;
        grid-template-rows: 1fr 1/2fr;
        grid-template-columns: none;
        align-items: flex-start;
        
    }

    .mainlogo img {
        width: 150px;
    }

    #barrademenu {
        padding-left: 5px;
        padding-right: 5px;
    }

    #barrademenu a {
        padding-left: 25px;
        padding-right: 25px;
    }

    #imagenprincipal img {
        width: 100%;
        height: 300px;
    } 

    #eventos h1{
        font-size: 30px;
    }

    .tituloevento {
       padding-left: 40px;
       padding-right: 40px;
    }

    .caja-eventos {
        display: grid;
        grid-template-columns: 1fr;
        padding-bottom: 20px;
    }

    .historias {
        padding: 30px 50px 90px 50px;
        background-color:white;
        color: #141414;
        text-align: center;
        font-size: 20px;
    }
    
    .historias h2 {
        font-size: 40px;
        padding-bottom: 35px;
    }
    .caja-redes {
        display: grid;
        grid-template-columns: 1fr ;
        gap: 0px;
        color: whitesmoke;
        text-align: center;
      
    }
    
    .item-cajaredes {
        width: auto;
    }

    .redes {
        padding-top: 20px;
    }
    

     .contacto { 
        padding: 20px;
    }
    
    .contacto h1 {
        font-size: 35px;
    }

    .contenedorgridpadre-contacto {         
        padding: 10px 50px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        font-size: 20px;
    }

    .item-contenedorgrid-contacto {
        text-align: center;
    }

    .item-contenedorgrid-contacto img {
        display: none;
    }
}



/* Tablet */

@media screen and (min-width:576px) and (max-width:992px) {

    header {
        font-size: 20px;
        display: grid;
        grid-template-rows: 1fr 1/2fr;
        grid-template-columns: none;
        align-items: flex-start;
    }

    .mainlogo img {
        width: 150px;
    }

    #barrademenu {
        padding-left: 5px;
        padding-right: 5px;
    }

    #barrademenu a {
        padding-left: 25px;
        padding-right: 25px;
    }

    .caja-redes {
        display: grid;
        grid-template-columns: 1fr ;
        gap: 0px;
        color: whitesmoke;
        text-align: center;
      
    }
    
    .item-cajaredes {
        width: auto;
    }

    .redes {
        padding-top: 20px;
    }

    #imagenprincipal img {
        width: 100%;
        height: auto;
    } 

    #eventos h1{
        font-size: 30px;
    }

    .tituloevento {
       padding-left: 40px;
       padding-right: 40px;
    }

    .caja-eventos {
        display: grid;
        grid-template-columns: 1fr;
        padding-bottom: 20px;
    }

    .historias {
        padding: 30px 50px 90px 50px;
        background-color:white;
        color: #141414;
        text-align: center;
        font-size: 20px;
    }
    
    .historias h2 {
        font-size: 40px;
        padding-bottom: 35px;
    }
}





















/* hoja de Contacto */

.contacto { 
    padding: 40px;
    background-color: white;
}

.contacto h1 {
    font-size: 55px;
    padding-top: 20px;
    text-align: center;
}

.contenedorgridpadre-contacto {         
    padding: 20px 80px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 50px 30px;
    
}

.item-contenedorgrid-contacto {
    padding: 15px;
}

.item-cajaformulario {
    text-align: center;
}

.item-contenedorgrid-contacto img {
    margin-top: 20px;
    margin-left: 65px;
    width: 550px;
    border-radius: 5px;
}

.item-contenedorgrid-contacto h2 {
    font-size: 30px;
}

.item-contenedorgrid-contacto p {
    font-size: 20px;
}

.item-contenedorgrid-contacto:nth-child(3) {
    grid-column: 1/3;
}

#nombre, #email, #numcel, #date, #comentarios, #pais {
    width: 350px;
    padding: 5px;
    padding-left:10px;
    font-size: 15px;
    height: auto;
    border-radius: 5px;
}

#comentarios {
    height: 250px;
}

#date, #pais {
    margin-top: 5px;
}


.condicionesbases h3 {
    padding-bottom: 15px;
    font-size: 25px;
}


/* MOBILE */

@media screen and (min-width:170px) and (max-width:576px) { 

    .contacto { 
        padding: 20px;
    }
    
    .contacto h1 {
        font-size: 35px;
    }

    .contenedorgridpadre-contacto {         
        padding: 10px 50px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        font-size: 20px;
    }

    .item-contenedorgrid-contacto {
        text-align: center;
    }

    .item-contenedorgrid-contacto img {
        display: none;
    }
    
}

/* TABLET */

@media screen and (min-width:576px) and (max-width:992px) {

    .contenedorgridpadre-contacto {         
        padding: 10px 50px;
        display: flex;
        flex-direction: column-reverse;
        gap: 30px;
        font-size: 20px;
    }

    .item-contenedorgrid-contacto {
        text-align: center;
    }

    .item-contenedorgrid-contacto img {
        display: none;
    }

}





















/* HOJA - QUIENES SOMOS */

.historia {
    padding: 40px;
    background-color: white;
}

.historia h2 { 
    font-size: 55px;
    padding: 20px;
    text-align: center;
}

.historia h3 {
    padding-top: 20px;
    padding-bottom: 5px;
    padding-left: 60px;
    font-size: 30px;
}

.historia p {
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 20px;
}

.productos {
    background-color: white;
    padding: 25px;
    text-align: center;
}

.productos h2 {
    padding-bottom: 15px;
    font-size: 40px;
}

.productos h3 {
    padding-top: 20px;
    padding-bottom: 5px;
    padding-left: 60px;
    font-size: 30px;
}

.productos h5 {
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: start;
    padding-left: 60px;
}

.productos p {
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 20px;
}


























/* HOJA EVENTOS */

.eventos {
    padding: 40px;
}

.eventos h1 {
    font-size: 55px;
    padding: 20px;
    text-align: center;
}

.cajaeventos {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 25px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.item-cajaeventos1 {
    padding: 20px;
}

.item-cajaeventos1 img {
    width: 700px;
    height: auto;
    border-radius: 8px;
}

.item-cajaeventos1 p {
    text-align: center;
    font-size: 20px;
}

.eventosfiestas {
    padding: 30px;
    background-color: #141414;
    color: white;
}

.titulofiestas {
    padding: 20px 150px 0px 150px;
}

.titulofiestas h2 {
    font-size: 45px;
    text-align: center;
}

.titulofiestas p {
    padding: 25px;
    font-size: 25px;
    text-align: center;
}

.cajamubby {
    padding: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 40px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.cajamubby h3 {
    font-size: 30px;
}

.item-cajamubby img {
    padding: 20px;
    width: 400px;
    height: auto;
}

.item-cajamubby p {
    text-align: center;
    font-size: 20px;
}

.cajacronox {
    padding: 35px 120px 10px 120px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    gap: 40px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.cajacronox h3 {
    font-size: 30px;
    padding-bottom: 20px;
}

.item-cajacronox img {
    padding: 20px;
    width: 500px;
    height: auto;
}

.item-cajacronox p {
    text-align: center;
    font-size: 20px;
}

.eventosferias {
    padding: 30px;
}

.tituloferias {
    padding: 20px 150px 0px 150px;
}

.tituloferias h2 {
    font-size: 45px;
    text-align: center;
}

.tituloferias p {
    padding-top: 25px;
    font-size: 25px;
    text-align: center;
}

.cajaferia {
    padding: 35px 120px 10px 120px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 40px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.cajaferia h3 {
    font-size: 30px;
}

.item-cajaferia img {
    width: 400px;
    height: auto;
}

.item-cajaferia p {
    text-align: center;
    font-size: 20px;
}

.eventoscampeonato {
    padding: 30px;
    background-color:  #141414;
    color: white;
}

.titulocampeonato {
    padding: 20px 150px 0px 150px;
}

.titulocampeonato h2 {
    font-size: 45px;
    text-align: center;
}

.titulocampeonato p {
    padding-top: 25px;
    font-size: 25px;
    text-align: center;
}

.cajacampeonato {
    padding: 35px 120px 10px 120px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    gap: 40px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.cajacampeonato h3 {
    font-size: 30px;
}

.item-cajacampeonato img {
    width: 400px;
    height: auto;
    border-radius: 8px;
}

.item-cajacampeonato p {
    text-align: center;
    font-size: 20px;
}

.eventoscharlas {
    padding: 30px;
}

.titulocharlas {
    padding: 20px 150px 0px 150px;
}

.titulocharlas h2 {
    font-size: 45px;
    text-align: center;
}

.titulocharlas p {
    padding-top: 25px;
    font-size: 25px;
    text-align: center;
}

.cajacharlas {
    padding: 35px 120px 10px 120px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 40px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.cajacharlas h3 {
    font-size: 30px;
}

.item-cajacharlas img {
    width: 400px;
    height: auto;
}

.item-cajacharlas p {
    text-align: center;
    font-size: 20px;
}


/* MOBILE */
@media screen and (min-width:170px) and (max-width:576px) {

    .eventos {
        padding: 20px;
    }
    
    .eventos h1 {
        font-size: 35px;
    }

    .cajaeventos {
        padding-top: 0px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        
    }
    
    .item-cajaeventos1 p {
        text-align: center;
        font-size: 18px;
    }

    .item-cajaeventos1 {
        padding: 20px;
    }
    
    .item-cajaeventos1 img {
        width: 350px;
    }

    
    .eventosfiestas {
        padding: 0px;
    }
    
    .titulofiestas {
        padding: 20px;
    }
    
    .titulofiestas h2 {
        font-size: 30px;
    }
    
    .titulofiestas p {
        padding: 20px;
        font-size: 18px;
    }
    
    .cajamubby {
        padding: 30px;
        flex-direction: column;
      
    }
    
    .cajamubby h3 {
        font-size: 30px;
    }
    
    .item-cajamubby img {
        width: 350px;
    }
    
    .item-cajamubby p {
        text-align: center;
        font-size: 18px;
    }
    
    .cajacronox {
        padding: 30px;
        display: flex;
        flex-direction: column;
    }
    

    .item-cajacronox img {
        width: 350px;
    }
    
    .item-cajacronox p {
        text-align: center;
        font-size: 18px;
    }

    
    .eventosferias {
        padding: 0px;
    }
    
    .tituloferias {
        padding: 30px;
    }
    
    .tituloferias h2 {
        font-size: 30px;
    }
    
    .tituloferias p {
        padding: 20px;
        font-size: 18px;
    }
    
    .cajaferia {
        padding: 0px 20px 50px 20px;
        display: flex;
        gap:10px;
        flex-direction: column;
    }
    
    .cajaferia h3 {
        font-size: 18px;
    }
    
    .item-cajaferia img {
        width: 350px;
    }
    
    .item-cajaferia p {
        font-size: 18px;
    }

    .eventoscampeonato {
        padding: 0px;
       
    }
    
    .titulocampeonato {
        padding: 20px;
    }
    
    .titulocampeonato h2 {
        font-size: 35px;
    }
    
    .titulocampeonato p {
        padding-top: 20px;
        font-size: 18px;
    }
    
    .cajacampeonato {
        padding:40px;
        flex-direction: column;
    }
    
    .cajacampeonato h3 {
        font-size: 20px;
    }
    
    .item-cajacampeonato img {
        width: 350px;
    }
    
    .item-cajacampeonato p {
        font-size: 18px;
    }
    
    .eventoscharlas {
        padding: 0px;
    }
    
    .titulocharlas {
        padding: 20px;
    }
    
    .titulocharlas h2 {
        font-size: 35px;
    }
    
    .titulocharlas p {
        padding-top: 20px;
        font-size: 18px;
    }
    
    .cajacharlas {
        padding:40px;
        flex-direction: column;
    }
    
    .cajacharlas h3 {
        font-size: 20px;
    }
    
    .item-cajacharlas img {
        width: 350px;
    }
    
    .item-cajacharlas p {
        font-size: 18px;
    }


}

/* Tablet */

@media screen and (min-width:576px) and (max-width:992px) {

    .eventos {
        padding: 20px;
    }
    
    .eventos h1 {
        font-size: 35px;
    }

    .cajaeventos {
        padding-top: 0px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        
    }
    
    .item-cajaeventos1 p {
        text-align: center;
        font-size: 18px;
    }

    .item-cajaeventos1 {
        padding: 20px;
    }
    
    .item-cajaeventos1 img {
        width: 450px;
    }

    
    .eventosfiestas {
        padding: 0px;
    }
    
    .titulofiestas {
        padding: 20px;
    }
    
    .titulofiestas h2 {
        font-size: 30px;
    }
    
    .titulofiestas p {
        padding: 20px;
        font-size: 18px;
    }
    
    .cajamubby {
        padding: 30px;
        flex-direction: column;
      
    }
    
    .cajamubby h3 {
        font-size: 30px;
    }
    
    .item-cajamubby img {
        width: 450px;
    }
    
    .item-cajamubby p {
        text-align: center;
        font-size: 18px;
    }
    
    .cajacronox {
        padding: 30px;
        display: flex;
        flex-direction: column;
    }
    

    .item-cajacronox img {
        width: 450px;
    }
    
    .item-cajacronox p {
        text-align: center;
        font-size: 18px;
    }

    
    .eventosferias {
        padding: 0px;
    }
    
    .tituloferias {
        padding: 30px;
    }
    
    .tituloferias h2 {
        font-size: 30px;
    }
    
    .tituloferias p {
        padding: 20px;
        font-size: 18px;
    }
    
    .cajaferia {
        padding: 0px 20px 50px 20px;
        display: flex;
        gap:10px;
        flex-direction: column;
        
    }
    
    .cajaferia h3 {
        font-size: 18px;
    }
    
    .item-cajaferia img {
        width: 450px;
    }
    
    .item-cajaferia p {
        font-size: 18px;
    }

    .eventoscampeonato {
        padding: 0px;
       
    }
    
    .titulocampeonato {
        padding: 20px;
    }
    
    .titulocampeonato h2 {
        font-size: 35px;
    }
    
    .titulocampeonato p {
        padding-top: 20px;
        font-size: 18px;
    }
    
    .cajacampeonato {
        padding:40px;
        flex-direction: column;
    }
    
    .cajacampeonato h3 {
        font-size: 20px;
    }
    
    .item-cajacampeonato img {
        width: 450px;
    }
    
    .item-cajacampeonato p {
        font-size: 18px;
    }
    
    .eventoscharlas {
        padding: 0px;
    }
    
    .titulocharlas {
        padding: 20px;
    }
    
    .titulocharlas h2 {
        font-size: 35px;
    }
    
    .titulocharlas p {
        padding-top: 20px;
        font-size: 18px;
    }
    
    .cajacharlas {
        padding:40px;
        flex-direction: column;
    }
    
    .cajacharlas h3 {
        font-size: 20px;
    }
    
    .item-cajacharlas img {
        width: 450px;
    }
    
    .item-cajacharlas p {
        font-size: 18px;
    }


}






































/* HOJA ENTRADAS */

.tituloentradas {
    padding: 40px;
    background-color: white;
}


.tituloentradas h1 {
    font-size: 55px;
    padding: 20px;
    text-align: center;
}

.encabezadoentradas {
    padding: 5px 45px 30px 45px;
    background-color: white;
}

.encabezadoentradas h2 {
    padding: 5px;
    font-size: 45px;
}

.encabezadoentradas p {
    padding: 5px;
    font-size: 20px;
}

.cajaentradas {
    background-color: white; 
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    height: auto;
    flex-wrap: wrap;
}

.item-cajaentradas {
    color: #141414;
    padding: 20px;
    width: 550px;
    height: auto;
    font-size: 20px;
}



#evento, #numentradas, #emails, #mediopago {
    margin-top: 10px;
    font-size: 15px;
    width: 350px;
    height: auto;
    padding: 5px 10px ;
    border: solid 1px ;
}


.imagenentradas img {
    padding-top: 15px;
    width: 350px;
    height: 100px;
}

.botonesentradas {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

.item-botonesentradas input {
    width: 250px;
    height: 40px;
    background-color: #141414;
    color:white;
    font-size: 20px;
    border-radius: 8px;
    border-color:#141414;

    transition: box-shadow 0.2s ease;
    cursor: pointer;
}

/* aniamciones de botones en rama "rama-animaciones" */

.item-botonesentradas input:hover {
    box-shadow: 0 0.2rem 0.2rem #141414;
}

.item-botonesentradas input:active {
    transform:translateY(4px) translateX(4px);
    box-shadow: #141414 0px 0px 0px;
}

.cajadatosentradas {
    padding-bottom: 10px;

}

.item-cajadatosentradas {
    padding:5px;
}

.infodatosentradas {
    border-radius: 8px;
    padding: 10px;
    background-color: #141414;
    color: whitesmoke;
    width: 450px;
    height: auto;
    text-align: center;
}



.item-cajaentradas iframe {
    padding-top: 10px;
    width: 470px;
    height: 200px;
}


/* responsive entradas */

/* MOBILE */
@media screen and (min-width:170px) and (max-width:576px) {

    .tituloentradas {
        padding: 20px;
    }

    .tituloentradas h1 {
        font-size: 35px;
    }

    .encabezadoentradas {
        padding: 0px 55px;
        padding-bottom: 20px;
        text-align: center;
    }

    .encabezadoentradas h2 {
        font-size: 25px;
    }

    .encabezadoentradas p {
        font-size: 18px;
    }

    .cajaentradas {
        padding: 10px;
        
    }

    .item-cajaentradas {
        border-radius: 5px;
        width: 450px;
        padding-left: 40px;
        
    }

    .item-botonesentradas input {
        width: 150px;
        height: 40px;
      
    }

    .botonesentradas {
        padding-top: 10px;
 
    }

    .infodatosentradas {
        width: 350px;
        height: auto;  
    }
    
    
    .item-cajaentradas iframe {
        padding-top: 10px;
        width: 400px;
        height: 200px;
    }
}

/* Tablet */

@media screen and (min-width:576px) and (max-width:992px) {

    .tituloentradas {
        padding-bottom: 0px;
    }

    .encabezadoentradas {
        padding: 0px 25px;
        text-align: center;
    }

    .encabezadoentradas h2 {
        font-size: 25px;
    }

    .item-cajaentradas {
        border-radius: 5px;
        width: auto;
    }

    .infodatosentradas {
        width: 500px;
        height: auto;  
    }
    
    
    .item-cajaentradas iframe {
        padding-top: 10px;
        width: 500px;
        height: 200px;
    }

}



























/* HOJA GALERIA */


.cabezeragaleria {
    padding: 40px;
}

.cabezeragaleria h1 {
    font-size: 55px;
    padding: 20px;
    text-align: center;
}

.cabezeragaleria p {
    padding: 20px;
    font-size: 20px;
}

.caja-galeria {
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.itemcaja-galeria div {
    display: block;
}

.itemcaja-galeria {
    background-color: white;
    width: 500px;
    height: 400px;
    color: #141414;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 0.2rem 0.4rem #141414;

}

.itemcaja-galeria h2{
    font-size: 30px;
    padding: 20px;
}

.itemcaja-galeria img {
    width: 300px;
    height: 200px;
    padding: 20px;
    border-radius: 15px;
}

/* MOBILE */
@media screen and (min-width:170px) and (max-width:576px) {

    .tituloentradas {
        padding: 20px;
    }

    .cabezeragaleria h1 {
        font-size: 35px;
    }
    .cabezeragaleria p {
        display: none;
    }

    .itemcaja-galeria {
        background-color: white;
        width: 300px;
        height: auto;
    }
    
    .itemcaja-galeria h2{
        font-size: 30px;
        padding: 20px;
    }
    
    .itemcaja-galeria img {
        width: 300px;
        height: auto;
    }  
    
}

/* Tablet */

@media screen and (min-width:576px) and (max-width:992px) {

    .itemcaja-galeria {
        background-color: white;
        width: 500px;
        height: 400px;
    }
    
    .itemcaja-galeria h2{
        font-size: 30px;
        padding: 20px;
    }
    
    .itemcaja-galeria img {
        width: 400px;
        height: 300px;
    }  
}
